* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 235, 243, 245);
    font-family: 'Nunito', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F25822;
    /* font-family: Gilroy-SemiBold; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.head__logo {
    padding: auto;
}

.menu__link a {
    text-decoration: none;
}

.navigation {
    color: #4d1d0c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
}

.menu__link {
    gap: 50;
}

.content {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.top_info {
    width: 522;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom_info {
    padding-top: 17px;
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
}

.btns {
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.btn {
    padding: 15px 15px;
    border-radius: 50px;
}

.bottom_logo {
    padding-top: 200px;
    display: flex;
}

.content_img {}